.container {
    position: relative;
    background: var(--clr-black);
    border-radius: var(--radius);
}

.dashboard-img {
    width: 100%;
    display: block;
    border-radius: var(--radius);
    transition: var(--transition);
    object-fit: contain;
    height: 200px;
    background-color: white;
  }

.link {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--clr-primary-5);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    transition: var(--transition);
    opacity: 0;
    cursor: pointer;
}
.link svg{
    font-size: 1.25rem;
    color: var(--clr-white);
}

.container:hover img {
    opacity: 0.5;
}

.container:hover .link {
    opacity: 1;
}
footer {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer h5{
    margin-bottom: 0;
    font-weight: 400;
}
footer p{
    margin-bottom: 0;
    font-weight: 400;
    color: var(--clr-primary-5);
    letter-spacing: var(--spacing);
}