.cartbuttons-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    width: 225px;
}

.cartbuttons-section .cart-btn{
    color: var(--clr-grey-1);
    font-size: 1.5rem;
    letter-spacing: var(--spacing);
    color: var(--clr-grey-1);
    display: flex;
    align-items: center;
}

.cartbuttons-section .cart-container{
    display: flex;
    align-items: center;
    position: relative;
}

.cartbuttons-section .cart-container svg{
    height: 1.6rem;
    margin-left: 5px;
}

.cartbuttons-section .cart-value{
    position: absolute;
    top: -10px;
    right: -16px;
    background: var(--clr-primary-5);
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.75rem;
    color: var(--clr-white);
    padding: 12px;
}

