.cartitem-article{
    display: grid;
    grid-template-columns: 200px auto auto;
    grid-template-rows: 75px;
    gap: 3rem 1rem;
    justify-items: center;
    margin-bottom: 3rem;
    align-items: center;
}
.cartitem-article .subtotal{
    display: none;
}
.cartitem-article .price{
    display: none;
}
.cartitem-article .title{
    height: 100%;
    display: grid;
    grid-template-columns: 75px 125px;
    align-items: center;
    text-align: left;
    gap: 1rem;
}
.cartitem-article img{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: var(--radius);
    object-fit: cover;
}
.cartitem-article h5{
    font-size: 0.75rem;
    margin-bottom: 0;
}
.cartitem-article .color{
    color: var(--clr-grey-5);
    font-size: 0.75rem;
    letter-spacing: var(--spacing);
    text-transform: capitalize;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.cartitem-article .color span{
    display: inline-block;
    width: 0.5rem;
    height: 0.5rem;
    background: red;
    margin-left: 0.5rem;
    border-radius: var(--radius);
}
.cartitem-article .price-small{
    color: var(--clr-primary-5);
}
.cartitem-article .amount-btns{
    width: 100px;
}
.cartitem-article .amount-btns button{
    width: 1.5rem;
    height: 1rem;
    font-size: 1rem;
}
.cartitem-article .amount-btns h2{
    font-size: 1rem;
}
.cartitem-article .remove-btn{
    color: var(--clr-white);
    background: transparent;
    border: transparent;
    letter-spacing: var(--spacing);
    background: var(--clr-red-dark);
    width: 1.5rem;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--radius);
    font-size: 0.75rem;
    cursor: pointer;
}
@media (min-width: 776px) {
    .cartitem-article{
        grid-template-columns: 1fr 1fr 1fr 1fr auto;
        align-items: center;
        grid-template-rows: 75px;
    }
    .cartitem-article .subtotal {
      display: block;
      margin-bottom: 0;
      color: var(--clr-grey-5);
      font-weight: 400;
      font-size: 1rem;
    }
    .cartitem-article .price-small{
        display: none;
    }
    .cartitem-article .price{
        display: block;
        font-size: 1rem;
        color: var(--clr-primary-5);
        font-weight: 400;
    }
    .cartitem-article .name{
        font-size: 0.85rem;
    }
    .cartitem-article .color{
        font-size: 0.85rem;
    }
    .cartitem-article .color span{
        width: 0.75rem;
        height: 0.75rem;
    }
    .cartitem-article img{
        height: 100%;
    }
    .cartitem-article .title{
        height: 100%;
        display: grid;
        grid-template-columns: 100px 200px;
        align-items: center;
        gap: 1rem;
        text-align: left;
    }
    .cartitem-article .amount-btns{
        width: 100px;
    }
    .cartitem-article .amount-btns button{
        width: 1.5rem;
        height: 1rem;
        font-size: 1rem;
    }
    .cartitem-article .amount-btns h2{
        font-size: 1.5rem;
    }
}