.sort-section{
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  align-items: center;
  margin-bottom: 2rem;
  column-gap: 2rem;
}
@media (max-width: 576px) {
  .sort-section{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.75rem;
  }
  .sort-section .btn-container {
    width: 50px;
  }
  .sort-section label {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
@media (min-width: 768px) {
  .sort-section{
    column-gap: 2rem;
  }
}
.sort-section p {
  text-transform: capitalize;
  margin-bottom: 0;
}
.sort-section .btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0.5rem;
}
.sort-section .btn-container button {
  background: transparent;
  border: 1px solid var(--clr-black);
  color: var(--clr-black);
  width: 1.5rem;
  border-radius: var(--radius);
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sort-section .btn-container button svg {
  font-size: 1rem;
}
.sort-section .btn-container .active {
  background: var(--clr-black);
  color: var(--clr-white);
}
.sort-section .sort-input {
  border-color: transparent;
  font-size: 1rem;
  text-transform: capitalize;
  padding: 0.25rem 0.5rem;
}
.sort-section label {
  font-size: 1rem;
  text-transform: capitalize;
}